.route {
    float: left;
}


/* .header1 {
    padding: 20px;
    background-color: #053EDC;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
} */

.row {
    flex-wrap: nowrap;
}


/* .openr {
    margin-left: 50px;
    margin-top: 50px;
} */


/* .nav-item1 {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
} */

.row {
    width: 100%;
}

.item {
    font-size: 16px;
    margin-left: 600px;
    margin-top: 10px;
    font-size: large;
}


/* .nav-item {
    padding-left: 30px;
    font-size: large;
    margin-top: 20px;
} */

.loginbutton {
    background-color: #053EDC;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 60px;
    margin-bottom: 100px;
    border-radius: 6px;
}

#thover {
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .6
}

#tpopup {
    position: absolute;
    width: 600px;
    height: 180px;
    background: #fff;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    padding: 60px 0;
    margin-left: -320px;
    /* width/2 + padding-left */
    margin-top: -150px;
    /* height/2 + padding-top */
    text-align: center;
    box-shadow: 0 0 10px 0 #000;
}

.route {
    float: left;
}

.header1 {
    padding: 20px;
    background-color: #053EDC;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}


/* .navbar {
    background-color: #053EDC;
    height: 150px;
    width: 103%;
    overflow-x: hidden;
} */

.openr {
    margin-left: 50px;
    margin-top: 50px;
}

.loginbutton {
    background-color: #053EDC;
    color: white;
    padding: 10px 10px 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6px;
}

.css1 {
    margin-top: 50px;
    margin-left: 60px;
}

.css2 {
    margin: 0px 30px 0px 30px;
    background-color: #F4E9FF;
    position: relative;
    z-index: -1;
    top: 110px;
    padding: 10px 10px 9% 10px;
}

.css3 {
    position: absolute;
    z-index: -1;
    background-color: brown;
}

.table {
    width: 101%;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.text {
    background-color: #F4E9FF;
    text-align: center;
    font-size: 16px;
    margin-left: 2px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-cell {
    font-size: 12px;
    display: table-cell;
    height: 48px;
    vertical-align: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
}

.search {
    margin-top: 40px;
    margin-left: 100px;
}

.openr {
    margin-left: -50px;
    margin-top: -10px;
}

.range {
    margin-top: 50px;
    margin-right: 80px;
}

.body {
    overflow-x: hidden;
    background-color: #F4E9FF;
    margin-left: 50px;
    margin-right: 50px;
}

.pop {
    background-color: white;
}