<div class="body">

    <div class="row">
        <div class="col-sm-3">
            <h3 class="css1">Open Requirements</h3>
        </div>
        <div class="col-sm-3 openr">
            <button type="button" *ngIf="ceo||brd" class="btn btn-info btn-lg m-5  mx-auto d-block loginbutton"
                (click)="openDialog()">+ Add OpenRequirements</button>
        </div>
        <div class="col-sm-3 search">
            <input style="width:100px" class="form-control" type="text" (keyup)="applyFilter($event.target.value)"
                placeholder="Search" aria-label="Search">
        </div>
        <div class="col-sm-3 range">
            <b style="padding-right:10px;">Showing</b> <input style="border-radius: 5px; width: 75px; height: 42px;"
                type="number" [value]="l">

        </div>
    </div>

    <!--Mat Table-->

    <div class="mat-elevation-z8 table">

        <mat-table [dataSource]="dataSource" matSort>


            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="JobId">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Job Id</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.JobId}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="JobTitle">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Job Title</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.JobTitle}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Location">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Location</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Location}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ClientName">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Client Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ClientName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="VendorName">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Vendor Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.VendorName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Rate">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Rate</mat-header-cell>
                <mat-cell *matCellDef="let element"> ${{element.Rate}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ContractType">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Contract Type</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ContractType}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="VisaType">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Visa Preference</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.VisaType}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="JobCreatedAt">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Job Created</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.JobCreatedAt}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="assignajobtobrd">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Assigned To</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.assignajobtobrd}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Status">
                <mat-header-cell class="text" mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell class="text" *matHeaderCellDef> Edit </mat-header-cell>
                <mat-cell *matCellDef="let element" class="action-link">
                    <mat-icon (click)="openDialog(element)">Edit</mat-icon>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
<router-outlet></router-outlet>