<h3 class="sub">Upload Resume</h3><br>
<form class="example-form">
    <mat-form-field class="input">
        <input matInput placeholder="Name" value="">
    </mat-form-field><br/>
    <mat-form-field class=" input">
        <input matInput placeholder="Email " value=" ">
    </mat-form-field><br/>
    <mat-form-field class="input ">
        <input matInput placeholder="Phone Number " value=" ">
    </mat-form-field><br/>

    <mat-form-field class="input">
        <input matInput placeholder="Technology" value=" ">
    </mat-form-field><br/>
    <mat-form-field class="input ">
        <input matInput placeholder="visa Status " value=" ">
    </mat-form-field><br/>
    <mat-form-field class="input ">
        <input matInput placeholder="Avilability Status " value=" ">
    </mat-form-field><br/>
    <mat-form-field class=" input">
        <input matInput placeholder="Experience " value=" ">
    </mat-form-field><br/>
    <mat-form-field class="input ">
        <input matInput placeholder="Browse resume" value=" ">
    </mat-form-field>
</form>

<button class="mat-raised-button cancel" (click)="onNoClick()">Cancel</button>
<button class="mat-raised-button mat-primary save" (click)="save() ">Save</button>